/* GENERAL */
h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 48px;
}

/* SITE HEADER */
.main-header{
    line-height: 80px;
    background-color: #f1f1f1;
    border: 6px outset #fff;
}

/* SITE MAIN */
main{
    height: 1200px; /* fake content */
    padding-top: 100px;
    /* background-image: url('../img/wallpaper-battleship.jpg'); */
    background-size: cover;
}
/* main::after{
    content:'';
    display: block;
    height: 100%;
    background-color: rgba(255, 255, 255, .4);
} */

/* Window Game */
.window-game{
    height:900px; /* fake content */
    padding: 10px 0;
    border: 2px solid blue;
}
/* Boxes */
.box{
    height: 66.33px;
    padding: 0;
    text-align: center;
    line-height: 66.33px;

}
.box.char,
.box.number{
    font-size: 20px;
}
.box.char{
    text-transform: uppercase;
}
.box.sea,
.box.miss{
    background-color: aqua;
    border: 1px solid black;
}
.box.sea::before{
    content: '\f773';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 48px;
    color: cornflowerblue;
}
.box.miss::before{
    content: '\f00d';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 48px;
    color: red;
}
