/****************** Framework 12 Bool ****************/
/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container::after{
    content: '';
    display: table;
    clear: both;
}