/* GENERAL */
body{
    padding: 3rem;
    font-size: 20px;
    background-color: #ccc;
}
h1,
h2{
    margin-bottom: 2rem;
    text-align: center;
}

/* FAKE CONTENT */
.box{
    padding: .5rem;
    text-align: center;
    background-color: aqua;
    border: 1px solid black;
}